body {
  font-size: 20px; 
  background-image: url("Park.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  max-width:1600px;
  margin: 0 auto;
}

.container1 {
  background-color:rgba(255,255,255, 0.8);
  text-align: center;
}

h1{
  font-family: JetBrains;
  padding-top: 20px;
}

.container2 {
  max-width: 1000px;
}

.container2 p {
  margin-top: 30px;
  text-align: justify;
}

.container3 p {
  margin-top: 30px;
  text-align: justify;
}

#flags{
  text-align: right;
}

#flags img{
  height: 40px;
  margin-right: 2px;
}

.insta img{
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  width: 110px;
  height: 51px;
  border: 1px solid black;
  border-radius: 8px;
  color: #0069D9;
}

a:link, a:visited {
  color: black;
}

.kyria {
  margin-top: 20px;
}

.title {
  padding-top:60px;
}

.list {
  text-align: left;
}

.galery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 50px;
}

.bottom {
  padding-bottom: 20px;
  margin-bottom: -20px;
}

.email {
  position: relative;
  top: 10px;
  font-size: 40px;
  
}

.phone {
  position: relative;
  font-size: 35px;
  top: 7px;
}

#home {
  width: 80px;
  height: 80px;
}

