body {
  font-size: 20px;
  background-color: white;
  color: black;
}

#flags{
  text-align: right;
}

#flags img{
  height: 50px;
}

.container1 {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.container2 {
  display: grid;
  text-align: center;
  width: 600px;
  background-color: white;
  margin: 0 auto;
}

Button {
  width: 110px;
}
