body {
  font-size: 20px;
  background-color: white;
  color: black;
}

#flags{
  text-align: right;
}

#flags img{
  height: 50px;
}

#container1 {
  width: 1350px;
  background-color: white;
  margin: 0 auto;
}

